#chat-screen {
  background-color: #abc1d1;
  height: 11000vh; /*스크롤을 주려고 길게 만듦 */
}
#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}
#chat-screen .alt-header {
  background-color: #abc1d1;
  z-index: 1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  font-size: 14px;
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}
/* main -> message-row */
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.message__time,
.message__author {
  font-weight: 500;
  opacity: 0.8;
  font-size: 12px;
}
.message__author {
  font-size: 14px;
  margin: 5px 0;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
  font-size: 18px;
}
/*messsage own*/
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
/*keyboard */
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  /* height: 30px; */
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 12px;
  box-sizing: border-box;
}
.reply i {
  opacity: 0.5;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 6px;
  top: 6px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 14px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
