@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rect {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(2);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}
body {
  background-color: #6bbcbe;
  width: 100vw;
  height: 100vh;
}
.main-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dot_box {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
}
.dots {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: circle 1.5s ease-in-out infinite;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.go-around {
  margin-bottom: 20px;
}
.rectangle_box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangles {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rectangle {
  width: 8px;
  height: 40px;
  background-color: white;
  animation: rect 1.5s ease-in-out infinite;
}
.rect1 {
  animation-delay: 0s;
}
.rect2 {
  animation-delay: 0.2s;
}
.rect3 {
  animation-delay: 0.4s;
}
.rect4 {
  animation-delay: 0.6s;
}
.rect5 {
  animation-delay: 0.8s;
}
